Undying Garden/Library/
Undying Garden/Logs/
Undying Garden/UserSettings/
Undying Garden/UserSettings/Layouts/default-2021.dwlt
Undying Garden/Temp/
Undying Garden/Assembly-CSharp-Editor-firstpass.csproj
Undying Garden/Assembly-CSharp-Editor.csproj
Undying Garden/Assembly-CSharp-firstpass.csproj
Undying Garden/Assembly-CSharp.csproj